.header {
    height: 150px;
    background-color: #6aa84f;
    margin-bottom: 20px;
}

.navigation,.main{
    display: inline-block;
    vertical-align: top;
}

.navigation {
    height: 300px;
    width: 200px;
    background-color: #6fa8dc;
    margin-right: 25px;
}

.main {
    height: 400px;
    width: 700px;
    background-color: #e06666;
    padding: 10px;
}

.subcontent {
    height: 200px;
    width: 210px;
    background-color: #ffd966;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.advertisement {
    height: 120px;
    width: 660px;
    margin-top: 10px;
    background-color: #b4a7d6;
}